.form-feedback{
	width: 100%;
	max-width: 350px;
}
.form-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	box-sizing: border-box;
}
.form-content div{
	padding: 15px 0;
}
.bot-send-mail{
	box-sizing: border-box;
	width: 100%;
}
.form-content label,.form-content input{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.form-content label{
	margin-bottom: 5px;
	font-weight: bold;
}
.form-content input{
	padding: 10px 15px;
	margin-top: 10px;
}
.form-content label span{
	color: #E24E68;
}
.form-content .bot-send-mail{
	padding: 15px;
	margin-top: 10px;
	background: none;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	background-color: #009b97;
	cursor: pointer;
	border: 3px #009b97 solid;
	border-radius: 5px;
}
.form-content .bot-send-mail:hover{
	color: #009b97;
	background-color: #fff;
}
.hidden {
	display: none;
}
.input-box .parsley-errors-list.filled{
	/*list-style-type: none;*/
	margin-top: 8px;
	color: #E24E68;
	font-size: 12px;
	line-height: normal;
	position: relative;
	width: 100%;
	top: 0;
	bottom: 0px;
}
.input-box > ul li {
list-style-type: none;
}
.captcha-promo{
	text-align:left;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.captcha-img {
	display: inline-block;
	margin-left: auto;
	margin-right: 15px;
	height: 40px;
}
.error-msg {
	color: #E24E68;
}
